on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'ubuntu-latest', 'macos-latest']

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - run: pip install -r requirements.txt pyinstaller
    - run: pyinstaller sg_try.py
    # Optionally verify that it works (provided that it does not need user interaction)
    # - ./dist/your-code/your-code
    # - uses: actions/upload-artifact@v2
    #   with:
    #    path: dist/*
